html {
    scroll-behavior: smooth;
}

nav * {
    user-select: none;
}

.glossaryContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.glossaryColumnOne, .glossaryColumnTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}

.colOneContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.colTwoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.glossaryColumnOne {}

.glossaryColumnTwo {}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    width: 2rem;
    height: 2rem;

    transition: font-size 100ms linear;
}

.letter:hover {
    font-size: 2.5rem;
}