html {
    scroll-behavior: smooth;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tableContainer * {
    box-sizing: border-box;
}

tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}

th, .featureTitle {
    font-size: 1.1rem;
    padding: 0.25rem;
}

th, td {
    border: 1px solid black;
}

.shopButtonCell, .noBorderShop {
    border: none;
}

td {
    text-align: center;
    font-size: 1rem;
    padding: 0 0.25rem;
}

td:hover:not(.featureTitle, .noBorderShop, .shopButtonCell, .noBorderImageCell) {
    background-color: rgb(210, 210, 210);
}

table {
    width: 100%;
    border-collapse: collapse;
    cursor: default;
}

.noBorderTh {
    border-top: none;
    border-left: none;
}

.featureTitle {
    font-weight: bold;
    height: 2.5rem;
    padding: 0.25rem;
}

.shopButtonCell {
    height: 3rem;
}

.shopNowTableButton {
    display: block;
    background-color: #ee2d25;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.25rem;
}

.noBorderImageCell {
    border: none;
    background-color: white;
    padding: 0 1rem;
}

/* Mobile Rules - LM */
@media (max-width: 1025px) {
    th, td, .featureTitle, .shopNowTableButton {
        font-size: 0.9rem;
    }

    .noBorderImageCell img {
        object-fit: contain;
    }

    .tableContainer {
        overflow: auto;
        position: relative;
    }

    table {
        position: absolute;
        left: 0;
        top: 0;
        border-collapse: separate;
        border-spacing: 2px;
    }

    .noBorderTh, .noBorderShop {
        border: none;
        background-color: white;
    }

    .featureTitle {
        box-shadow: 2px 0 0 white;
    }

    .featureTitle, .noBorderTh, .noBorderShop {
        position: sticky;
        left: 0;
        padding: 0.25rem;
    }

    tr:nth-child(odd) .featureTitle {
        background-color: rgb(240, 240, 240);
    }

    tr:nth-child(even) .featureTitle {
        background-color: white;
    }
}

.redBackground {
    background-color: #ee2d25 !important;
    color: white;
}